/* AppBar với nền màu trắng và viền dưới màu xanh */
.appbar {
    background-color: #ffffff;
    /* Màu nền trắng */
    box-shadow: none;
    /* Không có bóng */
    border-bottom: 2px solid #dce0e6;
    /* Viền dưới màu xanh */
}

/* Toolbar căn giữa nội dung */
.toolbar {
    display: flex;
    justify-content: space-between;
    /* Chia đều hai phần */
    align-items: center;
    padding: 0 20px;
    /* Thêm padding bên trái và phải để căn giữa tốt hơn */
    width: 100%;
}

/* Logo và Tiêu đề bên trái */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    width: auto;
}

.logo-text {
    margin-left: 8px;
    color: #ffffff;
    /* Màu xanh */
    font-size: 1.25rem;
    font-weight: 500;
}

/* Các nút và thông tin người dùng - Bên phải */
.user-info-container {
    display: flex;
    align-items: center;
}

.refresh-icon {
    margin-right: 16px;
}

.profile-button:hover{
    margin-right: 16px;
    
}

.logout-icon {
    margin-left: 16px;
}

/* Đảm bảo đường dẫn tới hình ảnh logo đúng */
img {
    max-width: 100%;
}
